@charset "UTF-8";

body{
    background-color: rgb(72, 72, 253);
}
h1{
    color: white;
    text-align: center;
}

section {
    
    display: block;
    margin: auto;
    background-color: lavender;
    height: 500px;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    
    font-weight: bold;
    
}




