@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: rgb(70, 142, 236);
}

header h1{
    color: rgb(243, 243, 243);
    font-size: 30pt;
    font-weight: 400;
    text-align: center;
    margin: 30px 0px;
}

section{
    width: 500px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.507);
    
}

section > div > p{
    padding: 10px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    

}

input[type="button"] {
    border: 1px solid rgba(0, 0, 0, 0.486);
    padding: 2px;
  }

  input[type="number"] {
    border: 1px solid rgba(0, 0, 0, 0.425);
    padding: 2px;
  }

