@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-color: rgb(129, 205, 248);
}

main{
    height: 500px;
    width: 500px;
    background-color: aqua;
}
header > h1{
    text-align: center;
}